@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  background-image: linear-gradient(#28a745, #9fe0a4);
  -webkit-font-smoothing: antialiased !important;
}

body, input, button {
  font-family: Bree Serif, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 40px;
  cursor: default;
  user-select: none;
}

.App {
  text-align: center;
}

.login-field{
  max-width: 450px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 250px auto;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
}

.input-size{
  width: 80%;
  text-align: center;
  margin: auto;
}